* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

main {
	font-family: 'Heebo', sans-serif;
}

.landing {
	min-height: 100vh;
	background: url(./mar.jpg);
	background-size: cover;
	background-position: center;
	padding: 0 5rem;
}

nav {
	overflow: auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	min-height: 10vh;
}

.nav-links {
	display: flex;
	list-style: none;
}

.nav-links li {
	padding-left: 10rem;
	font-size: 1.2rem;
}

#logo {
	font-family: 'Lobster', cursive;
	font-weight: lighter;
	font-size: 2rem;
}

.big-text {
	position: absolute;
	top: 35%;
	left: 50%;
	transform: translate(-50%, -35%);
	font-size: 5rem;
	font-family: 'Lobster', cursive;
	color: rgb(61, 61, 61);
}
.intro {
	background: black;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider {
	background: rgb(186, 192, 194);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
}

.intro-text {
	color: rgb(233, 233, 233);
	font-family: 'Heebo', sans-serif;
	font-size: 3rem;
}

.hide {
	background: black;
	overflow: hidden;
}

.hide span {
	transform: translateY(100%);
	display: inline-block;
}
